@charset "UTF-8";

*{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(to left,
    #D0E4F2 35%,
    #85A5CC 35% 65%);
}

main{
    background-color: #A1D8EA;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #6881829f;
}

h1{
    color:#1A1F2B;
    text-align: center;
    text-shadow: 1px 1px 2px #1A1F2B;
}

h2{
    color:#1A1F2B;
}

p{
    text-align: justify;
}